.list {
  counter-reset: call-steps;
}

.list > .listItem {
  position: relative;
}

.list > .listItem::before {
  content: counter(call-steps);
  counter-increment: call-steps;
  font-size: 64px;
  font-weight: 700;
}